:root{
    --blanco:#ffffff;
    --oscuro:#000000;
    --primario: #ff4500;
    --secundario:#3f5266;
}

/*** font-size: 62.5%; Codigo para que se adapte los rem en todo tipo de pantalla ***/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {   
    box-sizing: inherit;
  }
/*El valor border-box en el box-sizing hace que el padding y 
el border pasen a formar parte del cálculo del ancho de la caja y no lo suman posteriormente.
En el siguiente ejemplo tendríamos una caja de 250px de ancho ya el padding y
 el border ya forman parte del cálculo del width del elemento:*/
 /*Esto lo que hace es hacer que en tu html se use border-box y los elementos hereden este valor*/

body{
    font-size: 16px;
    font-family: 'Comfortaa', cursive;

}
/*************************************/

h1{
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    font-size: 3.8rem;
    text-align: center;
    color:var(--secundario)
}
h2{
    font-size: 2.8rem;
}
h3{
  font-size: 1.8rem;  
}
h1,h2,h3{
    text-align: center;
}


.titulo span{
    color:orangered;
    font-weight: bolder;
    font-family: 'Inspiration', cursive;
    font-size: 4.5rem;
    text-shadow: 2px 2px 2px #353434;
}

.contenedor{
   max-width: 120rem;
   /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;*/

    /*margin: 0 auto 0 auto;*/
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacion-principal a{
    padding: 1rem;
    color:var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color:var(--blanco);    
    transition:  width 3s,background-color 0.5s;
    border-radius: 20px;
}
/*telefono*/
@media (min-width:480px) {
 
}
/*tablet*/
@media (min-width:768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-around;
    }
}
/*laptop - computadoras*/
@media (min-width:1140px) {
    .navegacion-principal{
        flex-direction: row;
    }
}

.hero{
    background-image: url(../img/dwz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    position: relative;
    
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
.contenido-hero{
    position:absolute;
    background-color: rgba(0,0,0, .7);
    width: 100%;
    height: 100%;
    /*alinea verticalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
} 
.contenido-hero h2{
    font-size: 3.5rem;
}
.contenido-hero p{
    font-size: 2.5rem;
}

.boton{
    background-color: var(--secundario);
    color:var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
@media (min-width:768px){
    .boton{
        width: auto;
    }
}