html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

h1 span{
    color:orangered;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
}